<!DOCTYPE html>
<html>
<title>Keystroke Dynamics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='addstyle.css') }}">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='auth_keyscapt.js') }}"></script>
</head>

<body style="background-color:rgb(200,200,200)">
  <div class="w3-container w3-blue-grey">
    <div class="w3-btn-group w3-display-topright">
      <a class="w3-btn w3-dark-grey " href="#">ENG</a>
      <a class="w3-btn w3-disable " href="#">RU</a>
      <a class="w3-btn w3-disable " href="#">UA</a>
    </div>
    <h1>Keystroke Dynamics</h1>
  </div>

  <div class="w3-container">
      <ul class="w3-navbar w3-dark-grey">
        {% for item in nav.top %}
        <li class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
      </ul>
  </div>

  <div id="Authentication" class="w3-container tab w3-center w3-padding-8 w3-light-grey">
    <div class="w3-panel w3-indigo w3-card-4 w3-round-xlarge" style="width: 800px;margin:auto;">
      <h1>Authentication</h1>
    </div>
    <div class="w3-panel w3-center w3-light-grey w3-card-4" style="width: 800px;margin:auto;">
      <h3> Step 1. Enter username you created <h3>
      <h6><span id="name_status_Auth" ></span></h6>
      <input type="text" id="userIDauth" onkeyup="checknameA();" autofocus></input>
      <div class="w3-section">
        <button id="nextstep" type="button"  onclick="auth_next();"
        class="w3-btn-block w3-dark-grey w3-round-large" style="width:120px" disabled>Next Step</button>
      </div>
    </div>

  </div>

  <div id="AuthStep2" class="w3-container tab w3-center w3-padding-8 w3-light-grey">

    <div class="w3-panel w3-center w3-light-grey w3-card-4" style="width: 850px;margin:auto;">
      <h5> Authentication for <b><span id="placehld" style="color:blue"></span></b></h5>
      <h3> Step 2. Type the phrase below.</h3>
      <h4>Start typing text below. Don't worry, small typo is ok</h4>
      <div class="w3-panel w3-pale-green w3-leftbar w3-border-green ">
        NOTE: Content of your typing may be whatever you want OR use sample given below.
        Length is unlimited. You can stop anytime by hitting "I'm done" button.
      </div>
      <div id = "ex" >
        <p> A long time ago, in a galaxy far, far away...
          It is a dark time for the Rebellion.
          Although the Death Star has been destroyed,
          Imperial troops have driven the Rebel forces
          from their hidden base and pursued them across
          the galaxy. Evading the dreaded Imperial Starfleet,
          a group of freedom fighters led by Luke Skywalker
          has established a new secret base on the remote ice
          world of Hoth. The evil lord Darth Vader, obsessed
          with finding young Skywalker, has dispatched thousands
          of remote probes into the far reaches of space...<br>
          <b>May the Force be with you.</b> </p>
      </div>
        <textarea id="keyrec" onkeydown="keydownAuth()" onkeyup="keyupAuth()" ></textarea>
        <h3><div id="result"  class="w3-panel w3-margin w3-opacity w3-round"></div><b></b></h3>
      <div class="w3-section">
        <p><a href="{{ url_for('theend') }}" class="w3-btn-block w3-dark-grey w3-round-large" style="width:500px">I'm done</a></p>

      </div>
    </div>
  </div>



<footer class="w3-container w3-blue-grey w3-center">
  <p></p>
</footer>
</body>
</html>
